@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,600;0,700;1,500&display=swap");
.App {
  text-align: center;
  background-color: #262a41;
  width: 97vw;
  height: auto;
  min-height: 100vh;
  display: flex;
  padding: 10px;
  color: aliceblue;
  justify-content: center;
}

h1,
h2,
h3,
p {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
}

h1 {
  font-weight: 700;
}

h2 {
  font-weight: 600;
}

p {
  font-weight: 200;
}
